@model List<ECommerce.Models.Domain.EfModels.LoaiSanPham>

@foreach (var item in Model)
{
    <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("AdvancedSearchView", "Search", new { loai = item.Id })">@item.TenLoai</a></li>
}
