@model IQueryable<EC_TH2012_J.Models.Domain.EfModels.BinhLuan>

<div style="padding-left: 100px">
    @foreach (var item in Model)
    {
        @Html.Partial("_CommentPartial", item)
    }
</div>